

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../../../public/css/index.css">
</head>
<body>

<?php if($data['userData']['wrongEmail']==1  ) : ?>
<H1>zły email <?php echo  $userData['email'];?></H1>
<?php endif; ?>


<?php if($data['userData']['wrongPassword']==1 ) : ?>
<H1>Podano złe stare hasło.Spróbuj jeszcze raz  </H1>
<?php endif; ?>

<?php if($data['userData']['passwordUpdate']==1 ) : ?>
<H1>Hasło zmienione poprawnie.Teraz się zaloguj.  </H1>
<?php endif; ?>


    <form action="../../../public/login/" method="post">
        <p><b>E-mail:</b> <input type="email" name="email" required /><br />
            <b>password:</b> <input type="password" name="password" required /><br>
        <p><input type="submit" name="method" value="Login"></p>
    </form>



<table class="styled-table">
    <thead>
    <tr>
        <th>Nazwa pliku</th>
        <th>Nazwa piosenki</th>
        <th>isrc</th>
        <th>autor</th>
        <th>wykonawca</th>
        <th>Autor opracownia</th>
        <th>time</th>
    </tr>
    </thead>
    <tbody>

    <?php foreach($data['songs'] as $song): ?>

    <tr>
        <td><?php echo  $song['name_file'];?></td>
        <td><?php echo  $song['name_song'];?></td>
        <td><?php echo  $song['isrc'];?></td>
        <td><?php echo  $song['writer'];?></td>
        <td><?php echo  $song['author'];?></td>
        <td><?php echo  $song['who_add'];?></td>
        <td><?php echo  $song['time'];?></td>

    </tr>
    <!-- and so on... -->
    <?php endforeach; ?>
    </tbody>

</table>
</body>
</html>
